body {
  font-family: sans-serif, Helvetica;
  background-color: #fff6c687;
}

h1 {
  text-align: center;
}

ul {
  background-color: #ffef9a; 
  padding: 15px 35px;
  max-width: 550px;
  margin: 0 auto;
  list-style-type: none;
  text-align: center;
  border-radius: 5px;
}

li {
  margin: 10px 0;
}

li a {
  font-size: 1.8rem;
  font-weight: 800;
  text-decoration: none;
  color: #7c2e13;
}

li a:hover {
  background: #6d3519;
  color: #fffbf9;
  padding: 5px 30px;
}
